body{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}


.ContenedorFormulario{
    max-width: 450px;
    height: auto;
    background-color: #EFEFEF;
    margin: 5% auto;
    padding-bottom: 1rem;     
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem;
    border-radius: 0.5rem;
}

.TituloEncuesta{
    color: rgb(85, 82, 82);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.EncabezadoFormulario h2{
    color: rgb(128, 126, 126);
    font-size: 18px;       
}

.FormularioGrupo{
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ContenedorBoton{
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnEnviar{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.txtGrupo{
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

.txtGrupo, .btnEnviar{
    background-color: #EFEFEF;
    border:  none;
    border-bottom: solid #c8c8c8 .2rem;
    transition: all 2s;
    font-size: 16px;
}

.txtGrupo:focus{
    text-align: center;
    border-bottom: solid rgb(8, 59, 88) .2rem;
}

.btnEnviar{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
    border-bottom: none;
    background-color: #31b1e5;
    color: white;
    cursor: pointer;    
}

.btnEnviar:hover{
    background-color: #1674c2;
    cursor: pointer;
}